@{
    ViewBag.Title = "Login";
    // Admin Audit
    Layout = "loginLayout";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<div class="login-box">
    <div class="login-logo">
        <h1 class="display-4">Welcome</h1>
        <h2 class="display-4">To</h2>
        <a href=""><b>Asset Management </b>RAPID</a>
        @*<a asp-action="IndexLog" class="btn btn-primary" role="button">Login</a>*@
        <a asp-controller="Asset" asp-action="Index" class="btn btn-primary" role="button">Login</a>
    </div>
</div>
<!-- /.login-box -->