
@{
    ViewBag.Title = "Success";
    ViewBag.namePage = "Form Audit";
    ViewBag.Level1 = "Audit";
    ViewBag.Level2 = "FormAudit";
    Layout = "picLayout";
}

<h1 class="text-center">Success</h1>

